# Fichiers mac
.DS_Store

# Environnement Python
.venv

# Config VS Code
.vscode

# Base de données (gardée en local)
data/music_database.db

# Dataset original
data-backup

# Instructions pour Gemini CLI
gemini-cli